[Desktop Entry]
Name=Beacn Utility
Comment=Control interface for Beacn hardware
GenericName=Beacn Device Control
Exec=beacn-utility
Icon=io.github.beacn_on_linux.beacn-utility
Terminal=false
Type=Application
Categories=Audio;AudioVideo;Settings;HardwareSettings;
Keywords=microphone;audio;beacn;mic;recording;
StartupNotify=true
StartupWMClass=io.github.beacn_on_linux.beacn-utility
X-Flatpak=io.github.beacn_on_linux.beacn-utility