name: Publish Release Artifact
on:
  push:
    tags:
      - 'v*'

jobs:
  build_flatpak:
    name: "Create Flatpak Build"
    runs-on: ubuntu-22.04
    env:
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      VERSION_TAG: ${{ github.ref_name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: "Setup Flatpak"
        run: |
          sudo add-apt-repository -y ppa:flatpak/stable
          sudo apt update
          sudo apt install -y flatpak flatpak-builder

      - name: Import GPG key
        run: |
          echo "${{ secrets.GPG_PRIVATE_KEY }}" | gpg --batch --import

      - name: "Build Flatpak"
        run: |
          flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          flatpak-builder --user --repo=beacn-repo --install-deps-from=flathub --force-clean build-dir io.github.beacn_on_linux.beacn-utility.yml
          
          # Sign the repository
          flatpak build-sign beacn-repo --gpg-sign="Beacn on Linux"
          flatpak build-bundle --repo-url=https://beacn-on-linux.github.io/beacn-utility-repo/flatpak --runtime-repo=https://flathub.org/repo/flathub.flatpakrepo ./beacn-repo beacn-utility-${VERSION_TAG}-x86_64.flatpak io.github.beacn_on_linux.beacn-utility
        shell: bash

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            *.flatpak